a,
a:focus,
a:hover {
  color: #fff;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.content-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

::-moz-selection {
    background-color: #000;
    color: #fff;
}
::selection {
    background-color: #000;
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  overflow:hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer p,
.footer a {
    color:#BCBCBC;
}

input, textarea {
    color:#000;
}

.btn-primary {
    background-color:#ccc;
    border-color:#ccc;
    color:#000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color:#969696;
    border-color:#969696;
    color:#000;
}

.btn-lg {
    padding:4px 12px;
    margin-top:30px;
}

.modal-title {
    color:#000;
}

.linklist span {
    padding:0 4px;
}

.modal-header,
.modal-footer {
    border:0;
}

.modal-body {
    padding:10px 20px;
}

.modal-footer {
    padding-top:0;
}

.modal-header h4 {
    text-shadow:none;
}
.modal-body legend {
    display:none;
}

.modal-body input,
.modal-body textarea {
    display:block;
    width:98%;
    margin:0 auto 10px auto;
    padding:3px;
}

span.error-visible,
span.error {
    font-weight:bold;
    font-style:italic;
    display:block;
    color:#000;
    text-shadow:none;
    display:block;
}
span.error {
    display:none;
}