a,
a:focus,
a:hover {
  color: #BCBCBC;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #BCBCBC;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

::-moz-selection {
    background-color: #000;
    color: #fff;
}
::selection {
    background-color: #000;
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  overflow:hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer p,
.footer a {
    color:#BCBCBC;
}

.linklist span {
    padding:0 4px;
    white-space:nowrap;
}

span.error {
    display:none;
}

h2 {
    margin-top:0;
    padding:48px 0 0 0;
    font-weight:lighter;
}